# Files
/reports
automation.log

# IDE Specific
.DS_Store
EOF

# PyCharm
.idea/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# Python cache (Unified)
**/__pycache__/
*.py[cod]
*$py.class